$color__brand-1: #c6883f; // Light Brown
$color__brand-2: #754100; // Dark Brown
$color__brand-3: #231f20; // Black
$color__brand-4: #bbbdc0; // Dark Gray

// LINKS
$color__link: lighten($color__brand-1, 50%);
$color__link-visited: $color__brand-1;
$color__link-hover: $color__brand-1;

// BACKGROUNDS
$color__background-body: $color__brand-3;
$color__background-screen: #f1f1f1;
$color__background-hr: $color__brand-2;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-alt: #e5e5e5;

// BUTTONS
$color__background-button: $color__brand-1;
$color__border-button: $color__brand-1;
$color__border-button-hover: $color__brand-1;
$color__border-button-focus: $color__brand-1;

// TEXT
$color__text-main: #000;
$color__text-alt: $color__brand-4;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

// BORDERS
$color__border-input: #ccc;
$color__border-abbr: #666;

// #71abc9 -blue
// #144733 -green
// ##A8A8A8 -grey